@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Dirt&family=Rubik+Iso&family=Rubik+Maze&display=swap&family=Ubuntu&display=swap&&family=Silkscreen');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

* {
    box-sizing: border-box;
    color: white;
    font-family: 'Lexend Deca', sans-serif;
    /* padding: 0.5vh; */
}
html {
    height: 100vh;
    width: 100vw;
}
body {
    padding-bottom: 10vh;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #000419;
    background-attachment: fixed;
    overflow-x: hidden;
}

p {
    font-size: 100%;
    margin: 0;
}

a {
    margin: 1vw;
}
::-webkit-scrollbar {
    width: 0.35vw;
    z-index: 1;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f100;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(179, 179, 179);
    border-radius: 15px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(82, 82, 82);
}

/* navbar styling */

.navBar {
    display: flex;
    /* position: fixed; */
    width: 100vw;
    max-height: 45px;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    padding: 0;
    background-color: #00041a;
    border-bottom: 0.1vh solid white;
    z-index: 10;
}

.navBar > * {
    color: white;
    margin: 25px;
}

.fa-square-github {
    font-size: 200%;
    color: white;
}

.fa-linkedin {
    font-size: 200%;
    color: white;
}

.fa-envelope {
    font-size: 200%;
    color: white;
}

.title {
    margin: 50px 0;
    /* width: 25vw; */
    font-family: 'Silkscreen', cursive;
}

/*Pic and title section*/

.center {
    display: flex;
    height: fit-content;
    min-height: 275px;
    width: fit-content;
    min-width: 400px;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 1%;
}

.profilePic {
    display: inline-flex;
    height: 10%;
    min-height: 175px;
    width: 30%;
    min-width: 400px;
    margin: 0 auto;
    margin-left: auto;
}

.display-pic-holder {
    display: flex;
}

.display-pic {
    height: 40vmin;
    min-height: 210px;
    max-height: 230px;
    width: 40vmin;
    min-width: 210px;
    max-width: 230px;
    border-radius: 50%;
}

.profile-details {
    width: 100%;
    /* min-width: 400px; */
    margin-left: 1vw;
}
.detail-text {
    font-size: 85%;
}

.console-container {
    font-size: 4em;
    text-align: center;
    height: fit-content;
    width: 100%;
}
.console-underscore {
    display: inline-block;
    position: relative;
}

.pos {
    color: #b9b9b9dd;
}

#consolePos {
    opacity: 0;
}

/*Langaue and experience section*/

.stack {
    height: fit-content;
    /* min-width: 700px; */
    width: 100%;
    min-height: 125px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    grid-template-columns: 50% 50%;
    justify-items: center;
    margin: auto;
}

.langs {
    height: 10vh;
    width: 35vw;
    min-width: 325px;
}

.lang-title {
    color: #b9b9b9dd;
    width: inherit;
    height: 7vh;
    min-height: 35px;
    border-bottom: 5px solid #b9b9b9dd;
    margin-bottom: 10px;
}

.right {
    float: right;
}

.half-text {
    font-size: 125%;
    font-weight: bold;
}

.gap {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-right: 3px;
}

.flex {
    display: flex;
    height: fit-content;
}
.left-auto {
    font-size: 100%;
    margin-left: auto;
}

.right-auto {
    font-size: 100%;
    margin-right: auto;
}

.auto {
    margin: auto;
}

.gql-logo {
    height: 25px;
    width: 25px;
}

.about {
    height: 40%;
    width: 70%;
    /* min-width: 600px; */
    margin: 4vh auto;
    text-align: center;
}

.div-stat {
    width: 75%;
    height: 10%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
    justify-content: center;
    align-items: center;
}

.div-stat img {
    margin: 1vh auto;
    height: 18vh;
}

.aboutTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40vw;
    min-width: 175px;
    /* color: #b9b9b9dd; */
    font-size: 28px;
    margin: 0 auto;
}

.projectsTitle {
    width: fit-content;
    margin: 1% auto 0;
    display: flex;
    justify-content: center;
    font-size: 20px;
}

.aboutPara {
    width: 50vw;
    margin: 0.25vh auto;
    border: 5px solid rgba(0, 0, 0, 0);
    color: #b9b9b9dd;
}

.details {
    padding: 10px;
}

.Carousel {
    margin: auto;
    margin-bottom: 5vh;
    height: 35%;
    width: fit-content;
    max-width: 70%;
    overflow: auto;
    white-space: nowrap;
    padding-bottom: 25px;
}

.indBox {
    display: inline-block;
    height: 100%;
    width: 25%;
    min-width: 200px;
    border: 0.25vh solid white;
    margin: 2vh;
    text-align: center;
    border-radius: 60px;
    word-wrap: break-word;
    background-color: #00041a;
    padding: 0.5%;
    text-decoration: none;
}

.indBox:hover {
    cursor: pointer;
    border-color: #b9b9b9dd;
    border-radius: 60px;
    transform: scale(1.25);
    transition: 0.3s;
}

.indBox > a {
    display: block;
    margin: 0 auto;
    text-decoration: none;
}

.Carousel::-webkit-scrollbar {
    height: 0.35vw;
}

.hidden {
    opacity: 0;
}

.fade {
    margin: 2vh 0;
    margin-bottom: 0;
    animation-name: fade-in;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes fade-in {
    0% {
        opacity: 0;
        transform: scale(1.2);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.pop-up {
    display: none;
    top: 0;
    left: 0;
    position: fixed;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.85);
    z-index: 2;
}

.project-overview {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 150ms ease-in;
    margin: 2.5vh auto;
    justify-content: center;
    background-color: #000524;
    border-radius: 8px;
    z-index: 3;
    /* border: 3px solid white; */
    width: 60vw;
    min-width: 475px;
    height: 80vh;
    min-height: 375px;
    overflow-x: hidden;
}

.pro-title {
    display: flex;
    justify-content: space-between;
    padding: 1% 3%;
    padding-right: 0;
    width: 100%;
    margin: 1vh auto;
    font-size: 28px;
}

.pro-name {
    margin: auto;
}

.close {
    height: 100%;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    cursor: pointer;
    margin-top: -10px;
    transform: scale(1.3);
}

.pro-link {
    width: fit-content;
    margin: auto;
    text-align: center;
}

.pro-github {
    width: fit-content;
    color: #b9b9b9dd;
    text-decoration: underline;
}

.pro-langs {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px auto;
    width: max-content;
    border: 2px solid white;
    border-radius: 7px;
    height: 7%;
    min-height: 30px;
    padding: 0 1%;
}

.pro-pics {
    height: fit-content;
    width: 70%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.screenshot {
    height: 150px;
    width: 300px;
    margin: 1vh auto;
}

.display-pic {
    height: 100%;
    width: 100%;
    /* border: 2px solid white; */
    border-radius: 15px;
}

.pro-desc {
    margin: 3vh auto;
    width: 80%;
    height: fit-content;
    text-align: center;
}

.pro-details {
    display: flex;
    justify-content: space-between;
    margin: 2.5vh auto;
    width: 70%;
    height: fit-content;
    min-height: 225px;
}

.pro-list {
    max-height: 200px;
    height: fit-content;
    width: 40%;
    min-width: 150px;
    overflow-y: auto;
    border: 3px solid #b9b9b9dd;
    border-radius: 5px;
    margin: auto;
}

.pro-list::-webkit-scrollbar-thumb {
    background: white;
}

.list-title {
    width: fit-content;
    margin: 1vh auto;
    border-bottom: 2px solid white;
}

.popUpHolder {
    height: fit-content;
    width: fit-content;
}

@media all and (max-width: 480px) {
    html {
        width: 100vw;
        height: 100vh;
        overflow-x: hidden;
    }
    body {
        width: 100vw;
        max-width: 480px;
        height: 100vh;
        overflow-x: hidden;
    }

    .navBar {
        width: 100vw;
        padding: 2%;
    }

    .title {
        padding-left: 2%;
        font-size: 14px;
    }

    .center {
        display: flex;
        min-width: 0px;
        width: 100%;
        min-height: 170px;
        height: 25%;
        margin: 0;
        margin-bottom: 2vh;
    }

    .display-pic {
        /* width: 20%; */
        min-width: 0;
        min-height: 0;
        height: 125px;
        width: 125px;
        margin: 3vh auto 0 20px;
    }

    .profile-details {
        min-width: 0;
        min-height: 0;
        width: 100%;
        margin: auto;
        height: 150px;
    }

    .detail-text {
        margin-top: -2vh;
        font-size: 18px;
    }

    .console-underscore {
        font-size: 20px;
    }

    .console-container {
        margin: 0;
        min-width: 0;
        min-height: 0;
        height: 40px;
    }

    .stack {
        min-width: 0;
        min-height: 0;
        width: 100%;
        height: 35%;
    }

    .langs {
        min-width: 0;
        min-height: 0;
        width: 90%;
    }

    .langs-holder {
        min-width: 0;
        min-height: 0;
    }

    .lang-title {
        margin-bottom: 5px;
    }

    /* .flex {
        display: block;
    } */

    .media-flex {
        display: flex;
    }

    .right-auto {
        height: 25px;
        line-height: 25px;
        margin: auto;
        margin-top: 5px;
        width: fit-content;
    }

    .left-auto {
        margin: 5px auto;
        width: fit-content;
    }

    .gql-logo {
        /* display: none; */
        height: 10;
    }

    .gql {
        height: fit-content;
    }

    .same {
        display: flex;
    }

   

    .fade {
        min-width: 0;
        min-height: 0;
    }

    .about {
        min-width: 0;
        min-height: 0;
        width: 100%;
        margin: 8vh auto 4vh;
    }

    .aboutPara {
        width: 80%;
        font-size: 14px;
    }

    .indBox {
        width: 75px;
    }

    .project-overview {
        width: 85vw;
        min-width: 0;
        height: 95vh;
        min-height: 0;
        margin-top: 7.5vh;
    }

    .pro-pics {
        display: block;
    }

    .close {
        color: white;
        transform: scale(1.75);
    }

    .screenshot {
        width: 100%;
        height: 15vh;
        margin: 1vh auto;
    }

    .pro-details {
        display: block;
    }

    .pro-list {
        margin: 1vh auto;
    }
}
