@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Dirt&family=Rubik+Iso&family=Rubik+Maze&display=swap&family=Ubuntu&display=swap&&family=Silkscreen');

* {
    box-sizing: border-box;
    color: black;
    font-family: 'Montserrat', sans-serif;
    padding: 0.5vh;
}
body {
    /* height: 100%; */
    /* width: 97%; */
    margin: 0;
    background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 1) 49%,
        rgba(116, 221, 219, 0.199) 100%
    );
    overflow-x: hidden;
}

p {
    font-size: 100%;
    margin: 0;
}

a {
    margin: 1vw;
}
::-webkit-scrollbar {
    width: 0.35vw;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f100;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(179, 179, 179);
    border-radius: 1vh;
    height: 1vh;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(82, 82, 82);
}

/* navbar styling */

.navBar {
    max-height: 50px;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;
    border-bottom: 0.5vh solid #007ea7;
    position: fixed;
    z-index: 9999;
}

.navBar > * {
    color: #007ea7;
}

.fa-square-github {
    font-size: 200%;
    color: #007da7;
}

.fa-linkedin {
    font-size: 200%;
    color: #007da7;
}

.fa-at {
    font-size: 200%;
    color: #007da7;
}
.title {
    /* /* display: table-cell; */
    /* vertical-align: middle; */
    margin: 20% 0;
    /* width: 25vw; */
    font-family: 'Silkscreen', cursive;
}
.dropdown {
    height: 100%;
    width: 25vw;
}

.dropbtn {
    background-color: rgb(0, 0, 0, 0);
    color: white;
    padding: 16px;
    font-size: 75%;
    border: none;
    vertical-align: middle;
    height: 100%;
}
.dropbtn:hover {
    color: #9f9f9f;
}

/* profile section styling */

.profile {
    height: 30%;
    width: 100%;
    margin: 1vh;
    margin-top: 7vh;
    padding: 1vh;
    justify-content: center;
    align-items: center;
}

.profilePic {
    display: inline-flex;
    height: 12.5%;
    min-height: 175px;
    width: 30%;
    min-width: 400px;
    margin: 0 auto;
    margin-left: auto;
}

.profile-details {
    width: 150%;
    min-width: 200px;
    text-align: center;
    margin: auto;
}

.pic-text {
    font-family: 'Ubuntu', sans-serif;
    font-size: 24px;
    color: #007da7;
}

.lang-titles {
    display: inline-block;
    margin: 0.5vh auto;
    font-size: 800;
    font-weight: bold;
}

.lang-boxes {
    display: flex;
    background-color: #007ea7;
    width: 8vw;
    height: 7vh;
    padding-bottom: 6px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.lang-boxes > * {
    color: white;
    font-size: 150%;
}

.details {
    width: 100%;
    display: inline-block;
    text-align: center;
    margin: 0 auto;
}
.verticleCenter {
    margin-top: 40%;
}

.center {
    display: inline-flex;
    margin: 0 auto;
}

.textCenter {
    margin: 0 auto;
}

.langs {
    display: inline-flex;
    color: black;
    text-align: center;
    margin: 0 auto;
}

.langs > * {
    margin-right: 0.5vw;
    min-width: 100px;
    min-height: 30px;
}
.middleBox {
    display: inline-flex;
}

.black {
    color: white;
    font-weight: 600;
    font-size: 100%;
}

.about {
    height: 40%;
    width: 70%;
    min-width: 600px;
    margin: 0 auto;
    text-align: center;
}

.aboutTitle {
    width: 15vw;
    min-width: 250px;
    margin: 0 auto;
}

.aboutPara {
    margin: 1vh auto;
    border: 5px solid rgba(0, 0, 0, 0);
}

.Carousel {
    margin: auto;
    margin-bottom: 5vh;
    height: 35%;
    width: 70%;
    overflow: auto;
    white-space: nowrap;
}

.indBox {
    display: inline-block;
    height: 75%;
    width: 20%;
    min-width: 150px;
    border: 0.25vh solid black;
    margin: 2vh;
    text-align: center;
    border-radius: 60px;
}
.indBox:hover {
    cursor: pointer;
    transform: scale(1.16);
    border-color: #007da7;
    border-radius: 60px;
}

.indBox > a {
    display: block;
    margin: 0 auto;
    text-decoration: none;
}

.indBox:hover > a {
    color: #007da7;
}

.Carousel::-webkit-scrollbar {
    width: 0.5vh;
}

/* Track */
.Carousel::-webkit-scrollbar-track {
    background: #e5000000;
}

.Carousel::-webkit-scrollbar-thumb {
    background: #007ea7;
    border-radius: 1vh;
    width: 0.5vh;
}

.Carousel::-webkit-scrollbar-thumb:hover {
    background: #007da7a4;
}
