<!DOCTYPE html>
<html lang="en">
<head>
        <script src="https://kit.fontawesome.com/56de4e78e1.js" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link rel="stylesheet" href="/assets/styles.css" />

    <title>Ascii-Art-Web</title>
</head>
<body>
    <header class="navBar navbar-animation">
            <p class="title">&lt;Nathaniel Russell&gt;</p>
            <a href="mailto:n.d.russell@hotmail.com"><i class="fa-solid fa-envelope"></i></i></a>
            <a
                href="https://www.linkedin.com/in/nathaniel-russell-dev/"
                target="_blank"
                ><i class="fa-brands fa-linkedin"></i></a
            >
            <a href="https://github.com/nater6" target="_blank"><i class="fa-brands fa-square-github"></i> </a>
        </header>
        <div class="github-container">
            
        </div>
     <div name="titleText aaw-title">
        <h1 id="ArtTitle">Ascii Art</h1>
    </div>

    <form method="POST" action="/ascii-art">
        <!-- Text box for ascii art input -->
        <div id="Textbox">
            <textarea rows="10" cols="100" name="asciiText" placeholder="Enter Text Here!"></textarea>

            <!-- Font radio buttons -->
            <div id ="buttons">
                <input type="radio" id="r1" name="font" value="standard">
                <label for="r1">Standard</label>
                <input type="radio" id="r2" name="font" value="shadow">
                <label for="r2">Shadow</label>
                <input type="radio" id="r3" name="font" value="thinkertoy">
                <label for="r3">Thinkertoy</label> <br>

                <div>
                    <!-- Submit Button -->
                    <input type="submit" id="submit"  value="Submit">

                </div>

            </div>
        </div>




    </form>
</body>
</html>