<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/assets/styles.css" />
    </head>

    <body>
        <header class="navBar">
            <p class="title">&lt;Nathaniel Russell&gt;</p>
            <a href="#">Contact me</a>
            <a href="https://www.linkedin.com/in/nathaniel-russell-dev/" target="_blank">Linkedin</a>
            <a href="https://github.com/nater6" target="_blank">Github</a>
            <!-- <div class="dropdown">
                <button class="dropbtn">Contact Me</button>
            </div> -->
        </header>
        <div class="profile">
            <div class="center">
                <!-- <div class="sameline"> -->
                    <div class="profilePic">
                        <img
                            height="100%"
                            width="100%"
                            src="/assets/webpagePP.jpg"
                        />
                    </div>
                    <div class="details">
                            <p class="magrin">Nathaniel Russell</p>
                            <p>Backend Dev</p>
                    </div>
                <!-- </div> -->

                <div class="langs">
                    <div class="javascript"><p class="black">Go</p></div>
                    <div class="javascript">
                        <p class="black">Javascript</p>
                    </div>
                    <div class="javascript"><p class="black">graphQL</p></div>
                    <div class="javascript"><p class="black">PHP</p></div>

                    <!-- <span><p>Rust</p></span> -->
                </div>
            </div>
        </div>

        <div class="about">
            <h1 class="aboutTitle">About Me</h1>
            <p class = "aboutPara">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                sunt in culpa qui officia deserunt mollit anim id est laborum.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
        </div>

        <div class="Carousel">
            <div class="indBox">
                <p>Lemin</p>
                <p>GO</p>
            </div>
            <div class="indBox">
                <p>Forum</p>
                <p>GO</p>
            </div>
            <div class="indBox">
                <p>Groupie Tracker</p>
                <p>GO</p>
            </div>
            <div class="indBox">
                <p>Make-Your-Game</p>
                <p>Javascript</p>
            </div>
            <div class="indBox">
                <p>Mister-Quiz</p>
                <p>PHP</p>
            </div>
            <div class="indBox">
                <p>Lemin</p>
                <p>GO</p>
            </div>
            <div class="indBox">
                <p>Lemin</p>
                <p>GO</p>
            </div>
        </div>
       
    </body>
</html>
