<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/assets/styles.css">
</head>

<body>
    <h1>Nathaniel Russell</h1>
    <a href="http://localhost:3000/Go-Lang"><img
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/05/Go_Logo_Blue.svg/1200px-Go_Logo_Blue.svg.png"
            alt="GoLang logo" width=30%></a>
    <a href="http://localhost:3000/JavaScript"><img
            src="https://www.freepnglogos.com/uploads/javascript-png/javascript-logo-transparent-logo-javascript-images-3.png"
            alt="JavaScript logo" width=30%></a>
    <a href="http://localhost:3000/Rust"><img
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d5/Rust_programming_language_black_logo.svg/1200px-Rust_programming_language_black_logo.svg.png"
            alt="Rust Logo" width=200px height=200px></a>
</body>



</html>